/* Button */

.button {
    margin-top: 0;
    border-color: transparent;
    border-radius: 4px;
    padding: 10px 32px;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;

    &--primary {
    color: var(--white-color);
    background-color: var(--accent-color);
    transition: background-color 250ms var(--transition-timing-function),
        color 250ms var(--transition-timing-function);
    }

    &--secondary {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    transition: background-color 250ms var(--transition-timing-function),
        color 250ms var(--transition-timing-function);
    }

    &:hover,
    &:focus {
    background-color: var(--background-color-active);
    }
}