/* Button-filter */

.button-filter {
    display: block;
    @media screen and (min-width: 480px) {
    max-width: 480px;
    }
    min-width: 130px;
    padding: 6px 22px;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list .list {
    margin-top: 0;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.button-list__item {
    margin-right: 8px;
    margin-bottom: 15px;
}

.button-list__item:last-child {
    margin-right: 0;
}

