/* Clients */

.section-clients {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 480px) {
    max-width: 480px;
    }
}

.clients-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
    color: var(--primary-text-color);
}

.logo-list.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-between;
}

.logo-list__item {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
}

.logo-list__item:nth-child(n+5) {
    margin-bottom: 0;
}

.logo-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--current-color);
    background-color: var(--white-color);
    transition: border 250ms var(--transition-timing-function);
}

.logo-list__link:hover,
.logo-list__link:focus {
    border: 1px solid var(--accent-color);
}

.clients-icon:hover,
.clients-icon:focus {
    fill: var(--accent-color);
}

.logo-list__link:hover .clients-icon,
.logo-list__link:focus .clients-icon {
    fill: var(--accent-color);
}

.logo-list__item:last-child {
    margin-right: 0;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--current-color);
    transition: fill 250ms var(--transition-timing-function);
}
