/* Header-menu */

.header-menu {
    @media screen and (min-width: 480px) {
        max-width: 480px;
        }
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}

.menu-button {
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: inline-flex;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

