/* Header-menu */

.header-menu {
    @media screen and (min-width: 480px) {
        max-width: 480px;
        }
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}

.menu-button {
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: inline-flex;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

.logo.link {
    margin-left: 15px;
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.mobile-container {
    position: relative;
    padding: 48px 40px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    display: block;
    position: relative;
    width: 100vw;
    height: 100vw;
    z-index: 1;
    background-color: var(--white-color);
}

.mobile-nav-list .list {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
}

.mobile-nav-list__item {
    margin-bottom: 0;
}

.mobile-connect-list .list {
     display: block;
}

.mobile-connect-list__item {
     margin-bottom: 32px;
}

.socialnet-list-mobile.list {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.socialnet-list-mobile__item {
     margin-right: 20px;
}

.button-close {
    position: absolute;
    top: 0;
    right: 60px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
}


