/* Section-portfolio */  

.section {
    display: block;
    @media screen and (min-width: 480px) {
    max-width: 480px;    
    }
    
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.section-portfolio-list.list {
    display: block;
}

.section-portfolio-list__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
    
.section-portfolio-list__txt {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }


.thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--transition-timing-function);
}

.section-portfolio-list__item {
    width: 450px;
    height: auto;
    margin-bottom: 30px;
    transition: box-shadow 250ms var(--transition-timing-function);

    &:hover .overlay-text {
    transform: translateY(0);
    }

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:nth-last-child(-n + 3) {
    margin-bottom: 0;
    }

    &:nth-child(3n) {
    margin-right: 0;
    }
}

.description {
    width: 100%;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

