/* Section-team */

.section-team {
    display: block;
    @media screen and (min-width: 480px) {
    width: 480px;
    }
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
    padding-bottom: 60px;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.section-team-title {
    margin-bottom: 30px;
    padding-top: 64px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.18;
    color: var(--primary-text-color);
}

.section-list__item {
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}

.section-list__member {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}

.section-list__role {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
}