/* Section-description */

.section-description {
    @media screen and (max-width: 767px) {
    display: none;
    width: 767px;
    }
    padding-bottom: 60px;
}

.section-description-list.list {
    display: flex;
    gap: 30px;
}

.item-thumb {
    position: relative;

    &__wrap {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}