/* Section-features */

/* Section-features */

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 480px) {
        max-width: 480px;
        display: block;
    }
}

.section-features {
    padding-top: 60px;
    padding-bottom: 56px;
}

.section-features-list.list {
    width: 480px;
}

.section-features-list__item {
    width: 100%;
}

.section-features__txt {
    margin: 0 10px 15px;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.section__secondary-title {
    text-align: center;
}

.features-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 226px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--secondary-background-color);
}

.features-icon {
    width: 70px;
    height: 70px;
}