/* Site-connect */

.site-connect-list.list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-connect-list__item {
    margin-right: 30px;
    
    &__item:last-child {
    margin-right: 0px;
    }
}

.site-connect-list__link.link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms var(--transition-timing-function);
}

.site-connect-list__link:hover,
.site-connect-list__link:focus {
    color: var(--accent-color);
}


.mailto-icon,
.tell-icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--transition-timing-function);
}

.mailto-icon:hover,
.mailto-icon:focus {
    fill: var(--accent-color);
}

.tell-icon:hover,
.tell-icon:focus {
    fill: var(--accent-color);
}