/* Socialnet */

.socialnet-list {
    display: flex;
    justify-content: center;
}

.socialnet-list .list {
    display: flex;
    margin-bottom: 24px;
    gap: 10px;
    align-items: center;
    background-color: var(--white-color);
}

.socialnet-list__item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
}

.socialnet-list__link .link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms var(--transition-timing-function);
}

.socialnet-list__link:hover,
.socialnet-list__link:focus {
    background-color: var(--accent-color);
}

.socialnet-list__link:hover .team-icon,
.socialnet-list__link:focus .team-icon {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: var(--current-color);
    transition: fill, background-color 250ms var(--transition-timing-function);
}