/* Link-current */

.link-current {
    position: relative;
    padding: 32px 0;
}

.link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
}

.site-nav-list__link.current {
    color: var(--accent-color);
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
    color: var(--accent-color);
}
