/* Reset */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: "roboto", sans-serif;
    background-color: var(--white-color);
}

.reset p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}